---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Bannerazul from '../components/bannerazul.astro';
import EnviosEmprendedores from '../components/Emprendedores.astro';
import Footer from '../components/Footer.astro';
import Socialbanner from '../components/socialbanner.astro';
---

<Layout title="Envios DosRuedas - Mensajería y Delivery en Mar del Plata">
  <Header />
  <main>
    <Hero />
    <Bannerazul />
    <EnviosEmprendedores />
    <Socialbanner />
  </main>
  <Footer />
</Layout>

