---
title: "Basic Page";
description: "This is a basic page generated automatically.";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <h1>Hello, Astro!</h1>
    <p>This is a basic page generated automatically.</p>
  </body>
</html>
